.modalContainer {
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  width: 90%;
  max-width: 300px;
}

.socialNetworkCard {
  height: 4rem;
  width: 250px;
  color: black;
  font-family: FuturaPTMedium;
  font-size: 18px;
}

.socialNetworkCardImg {
  height: 2rem;
  margin-right: 1rem;
}

.socialNetworkCardText {
  margin-bottom: 0px;
}

.bottomBorder {
  border-bottom: 1px solid black;
}

.shareText {
  font-family: FuturaPTMedium;
  font-size: 24px;
}

.link {
  color: black;
  font-family: FuturaPTMedium;
  font-size: 18px;
}

.closeModalImg {
  width: 2rem;
}

.closeModalImg:hover {
  cursor: pointer;
}
