.container {
  padding: 24px;
}

.searchForm {
  max-width: 600px;
  width: 100%;
}

.header {
  font-size: 26px;
  line-height: 26px;
  font-family: FuturaPTMedium;
}

.createForm {
  max-width: 600px;
  width: 100%;
}

.selectedcompanyContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companyLogo {
  max-width: 200px;
  height: auto;
  border: 5px solid gray;
  border-radius: 50%;
}

.companyName {
  font-size: 26px;
  font-family: FuturaPTMedium;
}

.companyInfo {
  font-family: FuturaPTMedium;
  font-size: 22px;
}

.companyPage {
  margin-top: 1rem;
}
