.container {
  padding: 24px;
  display: grid;
  grid-template-areas:
    "logo       info        country     verified    .           editButton  reviewsButton deleteButton"
    "reviews    reviews     reviews     reviews     reviews     reviews     reviews       reviews";
  grid-template-columns: 150px 100px 100px 100px 1fr auto auto auto;
  grid-template-rows: 100px auto;
  column-gap: 30px;
  row-gap: 0;
  background: lightgray;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

.logo {
  grid-area: logo;
  max-height: 100%;
  max-width: 100%;
}

.info {
  grid-area: info;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

.logo {
  grid-area: logo;
}

.country {
  grid-area: country;
}

.verified {
  grid-area: verified;
}

.editButton {
  grid-area: editButton;
  width: 200px;
  height: 50%;
}

.reviewsButton {
  grid-area: reviewsButton;
  width: 200px;
  height: 50%;
}

.deleteButton {
  grid-area: deleteButton;
  width: 200px;
  height: 50%;
}

.reviewsContainer {
  grid-area: reviews;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.review {
  margin: 15px 10px;
}
