.container {
  max-width: 100%;
  width: 300px;
  height: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border: 1px solid #93a086;
  border-radius: 5px;
}

.carousel {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.imgContainer {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #93a086;
}

.carouselImg {
  max-width: 100%;
  max-height: 100%;
}

.title {
  font-family: FuturaPTMedium;
  font-size: 18px;
}

.text {
  font-family: FuturaPTMedium;
  font-size: 16px;
}

.addCommentButton {
  margin-top: auto;
}

.deleteButton {
  margin-top: 5px;
}
