html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "FuturaPTMedium";
  src: local("FuturaPTMedium"),
    url(./assets/fonts/FuturaPTMedium.otf) format("truetype");
}

@font-face {
  font-family: "FuturaPTBook";
  src: local("FuturaPTBoos"),
    url(./assets/fonts/FuturaPTBook.otf) format("truetype");
}

a {
  text-decoration: none !important;
  color: black;
  font-family: FuturaPTMedium;
}
