.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  row-gap: 36px;
  padding: 13px 24px 24px 24px;
}

.codeSubmitForm {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15),
    -2px -2px 9px rgba(233, 233, 233, 0.4);
  border-radius: 4px;
}

@media (min-width: 992px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 107px;
    padding: 70px 200px 102px 118px;
  }
}

.formSubscribe {
  margin-top: 9px;
  font-family: FuturaPTMedium;
  font-size: 14px;
  line-height: 16px;
  color: #191919;
  mix-blend-mode: normal;
  opacity: 0.33;
}

.subscribeLink {
  color: #191919;
  text-decoration: underline !important;
}

.title {
  font-family: FuturaPTMedium;
  font-size: 32px;
  line-height: 37px;
  color: #191919;
  margin-bottom: 25px;
}

.infoContainer {
  align-self: center;
}

.subTitle {
  font-family: FuturaPTMedium;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #191919;
  margin-bottom: 5px;
}

.text {
  font-family: FuturaPTBook;
  font-size: 16px;
  line-height: 24px;
  color: #191919;
  margin-bottom: 32px;
}

.joinUsLabel {
  font-family: FuturaPTBook;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 11px;
  color: #191919;
}
