.container {
  display: grid;
  padding: 24px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 24px;
  row-gap: 30px;
  grid-template-areas:
    "left-sec right-sec"
    "main-sec main-sec";
  align-items: center;
}

.searchForm {
  grid-area: left-sec;
}

.createForm {
  grid-area: right-sec;
}

.searchResultContainer {
  grid-area: main-sec;
  display: flex;
  flex-direction: column;
}

.noUsersFoundTitle {
  align-self: center;
}

.userCard {
  margin: 10px 0;
}
