.container {
  border: 1px solid #93a086;
  padding: 0px 25px;
  color: #93a086;
  display: grid;
  grid-template-columns: 10% 1fr 3% 12% 10% auto auto;
  grid-template-rows: 50px;
  grid-template-areas: "name . id email phone signedUp addReview editUser";
  column-gap: 25px;
  justify-content: center;
  align-items: center;
}

.editUser {
  grid-area: editUser;
}

.name {
  grid-area: name;
  margin-bottom: 0;
}

.id {
  grid-area: id;
  margin-bottom: 0;
}

.email {
  grid-area: email;
  margin-bottom: 0;
}

.phone {
  grid-area: phone;
  margin-bottom: 0;
}

.signedUp {
  grid-area: signedUp;
  margin-bottom: 0;
}

.addReview {
  grid-area: signedUp;
}
