<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">

<head>
    <title>Contact confirmation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <style></style>
</head>

<body style="margin:0px; padding:0px;" bgcolor="#efefef">
    <table align="center" cellpadding="0" cellspacing="0" width="600"
        style="border-collapse: collapse; background-color: white; font-family: Arial, sans-serif;">
        <tr>
            <td style="padding: 40px 24px 10px 24px ;">
                <img src="https://elasticbeanstalk-eu-central-1-228390497504.s3.eu-central-1.amazonaws.com/resources/images/logo%403x.png"
                    alt="Greenpick" width="120" style="display: block;" />
            </td>
        </tr>
        <tr>
            <td style="font-family: Trebuchet MS; padding: 40px 24px 10px 24px; font-size: 28px; color: #53594f;">
                Thank you for contacting Greenpick!
            </td>
        </tr>
        <tr>
            <td style="font-family: Trebuchet MS; color: #737373; font-size: 1rem; padding: 10px 24px 10px 24px;">
                This is just a quick note to let you know we have received your message
                and will respond as soon as we can.
            </td>
        </tr>
        <tr>
            <!--Button-->
            <td>
                <center>
                    <table align="center" cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                            <td align="left" style="padding: 10px 24px 10px 24px;"">
                                <table border=" 0" class="mobile-button" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="left" bgcolor="#89977b"
                                            style="background-color: #89977b; margin: auto; max-width: 600px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; padding: 15px 20px; "
                                            width="100%">
                                            <!--[if mso]>&nbsp;<![endif]-->
                                            <a href="https://greenpick.co/" target="_blank"
                                                style="font-size:16px; font-family: Trebuchet MS; color: #ffffff; font-weight:normal; text-align:center; background-color: #89977b; text-decoration: none; border: none; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; display: inline-block;">
                                                <span
                                                    style="font-size: 16px; font-family: Trebuchet MS; color: #ffffff; font-weight:normal; line-height:1.5em; text-align:center;">Go
                                                    to website</span>
                                            </a>
                                            <!--[if mso]>&nbsp;<![endif]-->
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </center>
            </td>
        </tr>
        <tr>
            <td style="padding: 10px 24px 10px 24px;"">
                <hr style=" background-color:#666;" />
            </td>
        </tr>
        <tr>
            <td style="padding: 10px 24px 10px 24px ;">
                <img src="https://elasticbeanstalk-eu-central-1-228390497504.s3.eu-central-1.amazonaws.com/resources/images/logo%403x.png"
                    alt="Greenpick" width="120" style="display: block;" />
            </td>
        </tr>
        <tr>
            <td style="padding: 10px 24px 10px 24px; font-family: Trebuchet MS;">
                Join us on <a href="https://www.facebook.com/Greenpick-107553714341307">Facebook</a> or <a
                    href="https://www.reddit.com/r/Greenpick/">Reddit</a>.
            </td>
        </tr>
        <tr>
            <td style="padding: 10px 24px 10px 24px; font-family: Trebuchet MS;">
                © 2020 Greenpick. All rights reserved.
            </td>
        </tr>
    </table>
</body>

</html>