.background {
  background-color: #f4f6f3;
  width: 100%;
}

.mainContainer {
  padding: 24px;
  background-color: white;
}

@media (min-width: 768px) {
  .background {
    padding: 75px 17.5%;
  }

  .mainContainer {
    padding: 72px 76px;
  }
}

.title {
  font-family: FuturaPTMedium;
  font-size: 48px;
  line-height: 1.08;
  color: #3a3f37;
  margin-bottom: 32px;
}

.subtitle {
  font-family: FuturaPTMedium;
  font-size: 32px;
  line-height: 1.13;
  color: #3a3f37;
}

.subsubtitle {
  font-family: FuturaPTMedium;
  font-size: 19px;
  line-height: 1.89;
  color: #3a3f37;
}

.text {
  font-family: FuturaPTBook;
  font-size: 16px;
  line-height: 1.5;
  color: #3a3f37;
}

.bulletStyle {
  color: #89977b;
  font-weight: bold;
}

.italic {
  margin-bottom: 1rem;
}

ol.numberedList {
  counter-reset: item;
}

.orderedElement {
  display: block;
}

.orderedElement:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}
