.title {
  height: 41px;
  font-family: FuturaPTMedium;
  font-size: 32px;
  color: #191919;
  margin: 13px 24px 24px 24px;
}

.container {
  display: grid;
  background-color: #ffffff;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  row-gap: 36px;
  padding: 13px 24px 24px 24px;
}

@media (min-width: 992px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 107px;
    padding: 0 119px 102px 118px;
  }

  .title {
    margin: 70px 0 26px 118px;
  }
}

.contactUsForm {
  box-shadow: 0px 2px 9px rgba(233, 233, 233, 0.5);
  border-radius: 4px;
}

.infoLabel {
  font-family: FuturaPTBook;
  font-size: 16px;
  color: #191919;
  margin-bottom: 0.4rem;
}

.info {
  font-family: FuturaPTMedium;
  font-size: 24px;
  color: #191919;
  margin-top: 0px;
}
