.formContainer {
  position: relative;
  min-height: 380px;
  border-radius: 4px;
  background-color: #ffffff;
  width: 100%;
  padding: 30px 25px 30px 25px;
  font-family: FuturaPTMedium;
}

.formSubmitButton {
  width: 100%;
  padding: 0.375rem 0.65rem !important;
}
