.createReviewForm {
  width: 100%;
  max-width: 600px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formInput {
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  font-weight: 400;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.textarea {
  height: 10rem;
}
