.footer {
  background-color: #3a3f37;
  min-height: 270px;
}

.pagesText {
  opacity: 0.46 !important;
  font-family: FuturaPTMedium;
  font-size: 12px !important;
  color: #ffffff;
  line-height: 19px;
}

.pageLink {
  font-family: FuturaPTMedium;
  color: #ffffff;
  margin-bottom: 1rem;
  padding-left: 1rem;
  line-height: 1rem;
}

.pageLink:hover {
  color: #ced2ca;
}

.activePageLink {
  color: #93a086;
}

.socialNetworks {
  margin-bottom: 1rem;
}

.callForSubscription {
  font-family: FuturaPTMedium;
  line-height: 19px;
  font-size: 16px;
  color: #ffffff;
}

.copyRightsText {
  font-family: FuturaPTMedium;
  font-size: 11px;
  color: #ffffff;
}

.formContainer {
  width: 100%;
  max-width: 500px;
}
