.button {
  border-radius: 2px;
  border-style: none;
  padding: 0.375rem 0.75rem;
  font-family: FuturaPTMedium;
}

.primaryButton {
  background-color: #93a086;
  border-color: #93a086;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.primaryButton:hover {
  background-color: #69755d;
  border-color: #69755d !important;
  outline: none;
}

.primaryButton:active {
  background-color: #69755d;
  border-color: #69755d !important;
  outline: none;
}

.primaryButton:focus {
  outline: none;
}

.specialButton {
  background-color: #53594f;
  border-color: #53594f;
  text-align: center;
  vertical-align: middle;
  color: white;
  outline: none;
}

.specialButton:hover {
  background-color: #3a3f37;
  border-color: #3a3f37 !important;
  outline: none;
}

.specialButton:active {
  background-color: #3a3f37;
  border-color: #3a3f37 !important;
  outline: none;
}

.specialButton:focus {
  outline: none;
}
