.text {
  display: inline-block;
  font-family: FuturaPTMedium;
  font-size: 14px;
  color: #3a3f37;
  margin-bottom: 0rem;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.container {
  display: inline-block;
  min-height: 80px;
  align-items: center;
  padding-right: -60px;
}

.imgContainer {
  display: inline-block;
  height: 70px;
  margin-right: 60px;
}

.supportImg {
  height: 100%;
  object-fit: contain;
}
