.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "newCodeForm  ."
    "notUsedCodes usedCodes";
  row-gap: 25px;
  column-gap: 25px;
  padding: 0px 24px 50px 24px;
}

.newCodeForm {
  width: 100%;
  grid-area: newCodeForm;
  display: flex;
  flex-direction: row;
}

.newCodeButton {
  flex: 1;
}

.newCode {
  flex: 1;
}

.notUsedCodesContainer {
  grid-area: notUsedCodes;
  display: flex;
  flex-direction: column;
}

.usedCodesContainer {
  grid-area: usedCodes;
  display: flex;
  flex-direction: column;
}
