.oops {
  font-family: FuturaPTMedium;
  font-size: 56px;
  line-height: 1.14;
  letter-spacing: normal;
  color: #3a3f37;
}

.text {
  font-family: FuturaPTMedium;
  font-size: 32px;
  line-height: 1.25;
  color: #3a3f37;
}

.errorCode {
  font-family: FuturaPTMedium;
  font-size: 24px;
  line-height: 1.33;
  color: #3a3f37;
  margin-bottom: 2rem;
}

.button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-family: FuturaPTMedium;
  font-size: 16px;
}
