.greetingText {
  font-family: FuturaPTMedium;
  font-size: 19px;
  color: #89977b;
  margin-bottom: 0rem;
}

.prizeTitle {
  font-family: FuturaPTMedium;
  font-size: 28px;
  text-align: center;
  color: #191919;
  margin-bottom: 1.5rem;
}

.textBox {
  max-width: 473px;
  margin: auto;
}

.prizeText {
  font-family: FuturaPTMedium;
  font-size: 16px;
  color: #191919;
}

.shareButton {
  font-size: 16px;
  width: 112px;
}

.separator {
  margin-top: 100px;
  margin-bottom: 100px;
}

.scrollDownText {
  font-family: FuturaPTMedium;
  font-size: 14px;
  color: #89977b;
}

.verticalLine {
  width: 1px;
  height: 50px;
  border-left: 3px solid #89977b;
  border-radius: 5px;
}

.questionText {
  font-family: FuturaPTMedium;
  font-size: 28px;
  color: #191919;
}

.horizontalLine {
  width: 35px;
  height: 1px;
  border-top: 4px solid #89977b;
}

.text {
  font-family: FuturaPTMedium;
  font-size: 16px;
  color: #191919;
}

.bulletStyle {
  color: #89977b;
  font-weight: bold;
}

.listElement {
  font-family: FuturaPTMedium;
  font-size: 16px;
  color: #191919;
  margin-bottom: 0.5rem;
}

.imgForest {
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}

.imgContainer {
  width: 100%;
  border-radius: 4px;
  margin-top: 100px;
}

.whatRow {
  margin-bottom: 70px;
}

.whatText {
  margin: auto;
}

.rowHow {
  margin-bottom: 100px;
}

.bottomCallForAction {
  font-family: FuturaPTMedium;
  font-size: 48px;
  letter-spacing: -1px;
  text-align: center;
  color: #89977b;
  max-width: 800px;
  margin: auto;
}

.readMoreButton {
  width: 116px;
  font-family: FuturaPTMedium;
  font-size: 16px;
}

@media (min-width: 992px) {
  .mainContainer {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
}
