.carouselContainer {
  position: relative;
  width: 100%;
}

.oval1 {
  width: 50%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.oval2 {
  width: 50%;
  height: auto;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.carousel {
  height: 10%;
}

.carouselItem {
  width: 100%;
  height: 600px;
  padding-top: 10%;
}

.carouselImg {
  max-height: 510px;
  width: 100%;
  object-fit: contain;
}
