.container {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "img title"
    "img description";
  column-gap: 16px;
  row-gap: 4px;
  justify-items: center;
  align-items: center;
  max-width: 480px;
  min-width: 100%;
}

.img {
  grid-area: img;
  max-width: 100%;
  height: auto;
  align-self: baseline;
}

.title {
  justify-self: left;
  grid-area: title;
  margin-bottom: 0px;
  font-family: FuturaPTMedium;
  font-size: 19px;
  line-height: 24px;
  font-weight: normal;
}

.description {
  align-self: baseline;
  grid-area: description;
  margin-bottom: 0px;
  font-family: FuturaPTBook;
  font-size: 16px;
  line-height: 20px;
  color: #858883;
}

@media (min-width: 992px) {
  .container {
    grid-template-columns: 72px auto;
    grid-template-rows: auto 1fr;
    column-gap: 16px;
    row-gap: 4px;
  }

  .img {
    align-self: center;
    width: 100%;
  }
}
