.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counterImg {
  width: 170px;
  max-width: 100%;
  margin-bottom: 27px;
}

.counterNumber {
  font-family: FuturaPTMedium;
  font-weight: 500;
  font-size: 60px;
  line-height: 77px;
  margin-bottom: 3px;
  color: #93a086;
}

.counterText {
  font-family: FuturaPTMedium;
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  text-align: center;
  color: #93a086;
}
