.mainContainer {
  width: 100%;
}

.firstContainer {
  background-color: #f4f6f3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  width: 100%;
  padding: 30px 24px 50px 30px;
  row-gap: 56px;
}

.comingSoonInfo {
  font-family: FuturaPTMedium;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 8px;
  color: #93a086;
}

@media (min-width: 992px) {
  .firstContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    padding: 50px 140px 73px 155px;
    align-self: center;
    justify-self: center;
    column-gap: 190px;
  }

  .comingSoonInfo {
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .firstFirst {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
}

.firstTitle {
  font-family: FuturaPTMedium;
  font-size: 32px;
  line-height: 41px;
  color: #191919;
  margin-bottom: 16px;
}

.firstSubtitle {
  font-family: FuturaPTBook;
  font-size: 19px;
  line-height: 28px;
  color: #191919;
  margin-bottom: 22px;
}

.secondContainer {
  background-color: white;
  padding: 50px 24px 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondTitle {
  font-family: FuturaPTMedium;
  font-size: 32px;
  line-height: 36px;
  color: #3a3f37;
  margin-bottom: 27px;
}

.secondTexts {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  row-gap: 58px;
}

@media (min-width: 992px) {
  .secondContainer {
    padding: 112px 40px 122px;
  }

  .secondTitle {
    margin-bottom: 70px;
  }

  .secondTexts {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: max-content max-content;
    column-gap: 70px;
    grid-auto-flow: column;
  }
}

.thirdContainer {
  background-color: #93a086;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content;
  width: 100%;
  padding: 55px 24px 54px 24px;
  row-gap: 56px;
  align-items: center;
}

.thirdImg {
  max-width: 100%;
  max-height: 100%;
  margin-left: -24px;
}

.thirdTitle {
  font-family: FuturaPTMedium;
  font-weight: 450;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 34px;
}

.thirdTextsContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  row-gap: 16px;
}

@media (min-width: 992px) {
  .thirdContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    padding: 123px 100px 108px 85px;
    align-self: center;
    justify-self: center;
    column-gap: 104px;
  }

  .thirdTitle {
    margin-bottom: 55px;
  }

  .thirdTextsContainer {
    row-gap: 19px;
  }
}

.thirdText {
  font-family: FuturaPTMedium;
  font-weight: 450;
  font-size: 19px;
  line-height: 23px;
  color: #ffffff;
}

.bulletStyle {
  color: #53594f;
  font-weight: bold;
}

.fourthContainer {
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  padding: 55px 24px 54px 24px;
  row-gap: 48px;
  align-items: center;
}

.fourthFirst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}

.fourthTitle {
  font-family: FuturaPTMedium;
  font-size: 24px;
  line-height: 28px;
  color: #3a3f37;
  margin-bottom: 12px;
}

.fourthComingSoon {
  font-family: FuturaPTMedium;
  font-size: 23px;
  line-height: 30px;
  color: #93a086;
  margin-bottom: 16px;
}

.fourthText {
  font-family: FuturaPTBook;
  margin-bottom: 29px;
  color: #3a3f37;
  max-width: 550px;
}

.fourthButton {
  width: 145px;
  max-width: 100%;
  height: 44px;
  font-size: 16px;
  line-height: 19px;
}

.fourthImgContainer {
  width: fit-content;
  max-height: 300px;
  justify-self: center;
  max-width: 100%;
}

.fourthImg {
  max-width: 330px;
  width: 100%;
}

@media (min-width: 992px) {
  .fourthContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    padding: 107px 115px 60px 201px;
    align-self: center;
    justify-self: center;
    column-gap: 63px;
  }

  .fourthTitle {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 12px;
  }

  .fourthText {
    width: 82%;
    min-width: 327px;
    max-width: auto;
  }

  .fourthImgContainer {
    height: 100%;
    width: 100%;
    min-height: 400px;
  }

  .fourthImg {
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.fifthContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 54px 24px 0px;
  text-align: center;
}

.fifthTitle {
  font-family: FuturaPTMedium;
  font-size: 16px;
  line-height: 19px;
  color: #89977b;
  margin-bottom: 8px;
}

.fifthSubtitle {
  font-family: FuturaPTMedium;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 26px;
  color: #191919;
}

.fifthButton {
  width: 145px;
  max-width: 100%;
  height: 44px;
  margin-bottom: 54px;
}

.fifthCounterContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  row-gap: 60px;
  column-gap: 130px;
}

@media (min-width: 992px) {
  .fifthContainer {
    padding-top: 111px;
  }

  .fifthSubtitle {
    font-size: 28px;
    line-height: 36px;
  }

  .fifthButton {
    margin-bottom: 64px;
  }

  .fifthCounterContainer {
    row-gap: 60px;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
  }
}

span.line {
  display: inline-block;
}
