.navigation {
  display: flex;
  flex-direction: row;
  margin: 0 9px 30px 9px;
  flex-wrap: wrap;
}

.navigationLink {
  background-color: white;
  color: #93a086;
  border: 1px solid #93a086;
  border-radius: 80px;
  margin: 0 15px;
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activeNavigationLink {
  background-color: #93a086;
  color: white !important;
}

.logoutButton {
  margin-left: auto;
  margin-right: 24px;
}
