.content {
  margin-left: 0%;
  width: 100%;
}

.bannerContainer {
  position: relative;
  width: 100%;
  max-height: 450px;
  overflow: hidden;
}

.banner {
  width: 100%;
}

.aboutUsText {
  position: absolute;
  bottom: 24px;
  left: 24px;
  font-family: FuturaPTMedium;
  font-size: 32px;
  line-height: 1rem;
  color: #ffffff;
  margin-bottom: 0rem;
}

.mainContainer {
  padding: 24px 24px 40px 24px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  row-gap: 32px;
}

@media (min-width: 768px) {
  .aboutUsText {
    bottom: 56px;
    font-size: 48px;
  }

  .mainContainer {
    padding: 56px 24px 40px 24px;
    grid-template-columns: 183px minmax(auto, 600px);
    grid-template-rows: auto;
    column-gap: 48px;
  }
}

@media (min-width: 992px) {
  .aboutUsText {
    left: 108px;
  }
  .mainContainer {
    padding: 56px 108px 40px 108px;
    column-gap: 132px;
  }
}

@media (min-width: 1400px) {
  .mainContainer {
    grid-template-columns: 183px 1fr;
    column-gap: 0px;
  }
}

.nav {
  margin-bottom: 2rem;
}

.activeLink {
  font-family: FuturaPTMedium;
  font-size: 20px;
  line-height: 1.4;
  color: #3a3f37 !important;
  text-decoration: none !important;
}

.link {
  font-family: FuturaPTMedium;
  font-size: 20px;
  line-height: 1.4;
  color: #ced2ca;
  margin-bottom: 1rem;
}

.link:hover {
  color: #89977b;
}

.aboutNav {
  display: flex !important;
  flex-direction: column;
}

.title {
  font-family: FuturaPTMedium;
  font-size: 32px;
  line-height: 1.13;
  color: #3a3f37;
  margin-bottom: 2rem;
}

.subTitle {
  font-family: FuturaPTMedium;
  font-size: 20px;
  line-height: 1.4;
  color: #3a3f37;
}

.text {
  font-family: FuturaPTBook;
  font-size: 1rem;
  line-height: 1.5;
  color: #3a3f37;
}

.green {
  color: #929e88 !important;
}

.card {
  box-shadow: 0 4px 20px 0 rgba(191, 191, 191, 0.15);
  background-color: #ffffff;
}

.cardImgText {
  height: 146px;
  padding-right: 2rem;
  max-width: 600px;
}

.cardImgTextText {
  font-family: FuturaPTMedium;
  font-size: 20px;
  line-height: 1.2;
  color: #3a3f37;
  margin-bottom: 0px !important;
}

.cardImgTextImg {
  height: 80%;
  overflow: hidden;
}

.missionCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
  row-gap: 20px;
}

.cardTextText {
  font-family: FuturaPTMedium;
  font-size: 19px;
  line-height: 1.26;
  color: #929e88;
  margin-bottom: 0px !important;
}

.cardText {
  width: 100%;
  height: 95px;
}

.peopleContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-auto-flow: row;
  row-gap: 15px;
  column-gap: 25px;
  justify-items: center;
}

.personCard {
  width: 100%;
  height: 100px;
}

.imgContainer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.personCardImg {
  width: 70px;
  height: 70px;
  object-fit: fill;
}

.whatImg {
  width: 100%;
  height: auto;
  margin-top: 32px;
}

.newSection {
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .link {
    font-size: 20px;
  }
  .content {
    margin-left: 5%;
  }
}

@media (min-width: 1350px) {
  .peopleContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    row-gap: 15px;
    column-gap: 25px;
    justify-items: center;
  }
}
