.navbar {
  height: 82px;
  display: flex;
}

.navbarLink {
  font-family: FuturaPTMedium;
  font-size: 17px;
  color: #191919;
}

.navbarLink:hover {
  font-family: FuturaPTMedium;
  font-size: 17px;
  color: #53594f;
}

.activeNavbarLink {
  font-family: FuturaPTMedium;
  font-size: 17px;
  color: #93a086;
}

.joinBtn {
  font-family: FuturaPTMedium;
  width: 150px;
  height: 40px;
}

.joinBtn:hover {
  background-color: #000000 !important;
}

.joinBtn:active {
  box-shadow: none !important;
}

.sidenav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1001;
  top: 0px;
  right: 0px;
}

.sidenav.sidenavEnter {
  width: 0vw;
}

.sidenav.sidenavEnterActive {
  width: 100vw;
  transition: 500ms;
}

.sidenav.sidenavExit {
  width: 100vw;
}

.sidenav.sidenavExitActive {
  width: 0vw;
  transition: 500ms;
}

.sidenavBrand {
  height: 2rem;
}

.sidenavCloseButton {
  width: 2rem;
  height: auto;
}

.sidenavCloseButton:hover {
  cursor: pointer;
}

.sidenavContainer {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.5rem;
  width: 100vw;
  height: 100vh;
  background-color: #3a3f37;
  overflow: hidden;
}

.sidenavLinksContainer {
  margin-top: 3rem;
}

.sidenavLink {
  font-family: FuturaPTMedium;
  font-size: 24px;
  color: #ffffff;
}

.sidenavLinksContainer > a:hover {
  text-decoration: none;
}

.openSideNavButton {
  width: 26px;
  height: 24px;
  object-fit: contain;
}
