.container {
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: center;
}

.loginForm {
  padding: 24px;
  max-width: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formGroup {
  width: 100%;
}

.formSeparator {
  margin-bottom: 10px;
}

.loginButton {
  width: 100%;
  margin-top: 5px;
}
