.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: #3a3f37;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  max-width: 100%;
  max-height: 70%;
  margin-bottom: 35px;
}

.text {
  font-family: FuturaPTMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 10px;
  color: #ffffff;
}

.info {
  font-family: FuturaPTMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #89977b;
}
