.formContainer {
  position: relative;
  min-height: 380px;
  border-radius: 4px;
  box-shadow: 0 2px 9px 3px rgba(233, 233, 233, 0.5);
  background-color: #ffffff;
  width: 100%;
  padding: 30px 25px 30px 25px;
  font-family: FuturaPTMedium;
}

.formSubmitButton {
  width: 100%;
  padding: 0.375rem 0.65rem !important;
}

.formGroup {
  width: 100%;
}

.loadingScreen {
  opacity: 90%;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  position: absolute;
  z-index: 9 !important;
  background-color: #f4f6f3;
  opacity: 0.9;
}

.loadingText {
  font-family: FuturaPTMedium;
  font-size: 22px;
  color: #93a086;
}
