.form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 123px;
  grid-template-rows: 49px;
  grid-template-areas: "inputContainer button";
}

.breakable {
  grid-template-columns: 1fr;
  grid-template-rows: 49px 49px;
  grid-template-areas:
    "inputContainer"
    "button";
  row-gap: 12px;
}

@media (min-width: 992px) {
  .breakable {
    grid-template-columns: 1fr 123px;
    grid-template-rows: 49px;
    grid-template-areas: "inputContainer button";
  }
}

.inputContainer {
  grid-area: "inputContainer";
  font-family: FuturaPTMedium;
}

.emailInput {
  height: 100% !important;
  width: 100%;
  border: 1px solid #ced2ca;
  padding-left: 16px;
  border-radius: 2px;
}

.emailInput {
  height: 100% !important;
  width: 100%;
  border: 1px solid #ced2ca;
  padding-left: 16px;
  border-radius: 2px;
}

.emailInput:focus {
  border-width: 2px;
  outline: none;
}

.errorMessage {
  color: red;
  font-size: 80%;
}

.submitEmail {
  border-radius: 2px !important;
  grid-area: "button";
}

@media (min-width: 992px) {
  .emailInput {
    border-radius: 2px 0px 0px 2px !important;
    border-right: 0px;
  }

  .submitEmail {
    border-radius: 0px 2px 2px 0px !important;
  }
}
